/Restaurant.API.sln
/.vs
/forwardzone
/uploads
/Restaurant.API/Program.cs
/Restaurant.API/Restaurant.API.csproj
/Restaurant.API/Restaurant.API.csproj.user
/Restaurant.API/Startup.cs
/Restaurant.API/appsettings.Development.json
/Restaurant.API/appsettings.json
/Restaurant.Entities
/Restaurant.Common
/Restaurant.API/obj
/Restaurant.API/bin
/Restaurant.Business/bin
/Restaurant.Business/obj
/Restaurant.Business.Interfaces/obj
/Restaurant.Business.Interfaces/bin
/Restaurant.Repository/obj
/Restaurant.Repository/bin
/Restaurant.Repository.Interfaces/obj
/Restaurant.Repository.Interfaces/bin
/Restaurant.Business/AdminPermissionBusiness.cs
/Restaurant.Business/AdminAccountBusiness.cs
/Restaurant.Business/AdminGroupBusiness.cs
/Restaurant.Business/AdminGroupPermissionBusiness.cs
